<link rel="stylesheet" href="/stylesheets/indexCamp.css">
<%- layout('layouts/boilerplate') %>

<div id="cluster-map">
</div>

<h1 class="mt-5">Explore Campgrounds</h1>

<div class="container mt-3 card mb-3 border-0">

  <% for(let campground of allCampgrounds) {%>

  <div class="row mb-4">
    <div class="col-md-3">
      <% if(campground.images.length > 0) {%>
      <img class="img-fluid camp-index-image" src="<%= campground.images[0].url %>" alt="">
      <% } else{%>
      <img class="img-fluid" src="https://res.cloudinary.com/drldelbgv/image/upload/v1656534296/YelpCamp/qj1qzlm5e1tlyhwzzeri.jpg" alt="">
      <% } %>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= campground.location %>
            </small>
          </p>
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
  let campgrounds = {
    features: <%-JSON.stringify(allCampgrounds)%>,
  }
</script>
<script src="/javascripts/clusterMap.js"></script>